<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} %-5level %logger{36} - %msg%n" />
        </Console>
		<Kafka name="Kafka" topic="log4j-test">
      		<JsonTemplateLayout eventTemplateUri="classpath:EcsLayout.json">
				<EventTemplateAdditionalField key="correlationId" format="string" value="$${ctx:correlationId}"/>				
				<EventTemplateAdditionalField key="service" format="string" value="$${ctx:service}"/>
				<EventTemplateAdditionalField key="initrator" format="string" value="$${ctx:initrator}"/>
			</JsonTemplateLayout>
        	<Property name="bootstrap.servers">172.16.16.241:9200</Property>
    	</Kafka>        
    </Appenders>
 
    <Loggers>
		<AsyncLogger name="org.mutu" level="debug" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="Kafka" />
		</AsyncLogger>
		<AsyncLogger name="org.apache.catalina.core" level="off" additivity="false">
			<AppenderRef ref="Console" />
		</AsyncLogger>		
		<AsyncLogger name="org.springframework" level="error">
			<AppenderRef ref="Console" />
		</AsyncLogger>		
		<AsyncRoot level="error">
			<AppenderRef ref="Console" />
		</AsyncRoot>
    </Loggers>
</Configuration>
