<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%d{yyyy-MMM-dd HH:mm:ss a} %-5level %logger{36} - %msg%n" />
        </Console>	
		<Socket name="Socket" host="localhost" port="4560" protocol="tcp">
			<JsonLayout properties="false" stacktraceAsString="true" includeStacktrace="true" eventEol="true" compact="true" objectMessageAsJsonObject="true">
				<KeyValuePair key="correlationId" value="$${ctx:correlationId}"/>
				<KeyValuePair key="processFlow" value="$${ctx:processFlow}"/>
				<KeyValuePair key="initrator" value="$${ctx:initrator}"/>
				<KeyValuePair key="logtime" value="$${date:yyyy-MM-dd'T'HH:mm:ss}" />
			</JsonLayout> 			
		</Socket>
	</Appenders>
	<Loggers>
		<AsyncLogger name="org.mutu" level="debug" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="Socket" />
		</AsyncLogger>
		<AsyncLogger name="org.apache.catalina.core" level="off" additivity="false">
			<AppenderRef ref="Console" />
		</AsyncLogger>		
		<AsyncLogger name="org.springframework" level="error">
			<AppenderRef ref="Console" />
		</AsyncLogger>		
		<AsyncRoot level="error">
			<AppenderRef ref="Console" />
		</AsyncRoot>
	</Loggers>
</Configuration>